In [125]:
import pandas as pd
import numpy as np
from numpy import nan
data = pd.read_csv("Salaries.csv")

In [127]:
print(data.head())

   Id       EmployeeName                                        JobTitle  \
0   1     NATHANIEL FORD  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1   2       GARY JIMENEZ                 CAPTAIN III (POLICE DEPARTMENT)
2   3     ALBERT PARDINI                 CAPTAIN III (POLICE DEPARTMENT)
3   4  CHRISTOPHER CHONG            WIRE ROPE CABLE MAINTENANCE MECHANIC
4   5    PATRICK GARDNER    DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)

     BasePay  OvertimePay   OtherPay  Benefits   TotalPay  TotalPayBenefits  \
0  167411.18         0.00  400184.25       NaN  567595.43         567595.43
1  155966.02    245131.88  137811.38       NaN  538909.28         538909.28
2  212739.13    106088.18   16452.60       NaN  335279.91         335279.91
3   77916.00     56120.71  198306.90       NaN  332343.61         332343.61
4  134401.60      9737.00  182234.59       NaN  326373.19         326373.19

   Year  Notes         Agency  Status
0  2011    NaN  San Francisco     NaN
1  2011    NaN  San Francisco     NaN
2  2011    NaN  San Francisco     NaN
3  2011    NaN  San Francisco     NaN
4  2011    NaN  San Francisco     NaN

In [129]:
print(data.head(10))

   Id        EmployeeName                                        JobTitle  \
0   1      NATHANIEL FORD  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1   2        GARY JIMENEZ                 CAPTAIN III (POLICE DEPARTMENT)
2   3      ALBERT PARDINI                 CAPTAIN III (POLICE DEPARTMENT)
3   4   CHRISTOPHER CHONG            WIRE ROPE CABLE MAINTENANCE MECHANIC
4   5     PATRICK GARDNER    DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)
5   6      DAVID SULLIVAN                       ASSISTANT DEPUTY CHIEF II
6   7           ALSON LEE              BATTALION CHIEF, (FIRE DEPARTMENT)
7   8       DAVID KUSHNER                  DEPUTY DIRECTOR OF INVESTMENTS
8   9      MICHAEL MORRIS              BATTALION CHIEF, (FIRE DEPARTMENT)
9  10  JOANNE HAYES-WHITE          CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)

     BasePay  OvertimePay   OtherPay  Benefits   TotalPay  TotalPayBenefits  \
0  167411.18         0.00  400184.25       NaN  567595.43         567595.43
1  155966.02    245131.88  137811.38       NaN  538909.28         538909.28
2  212739.13    106088.18   16452.60       NaN  335279.91         335279.91
3   77916.00     56120.71  198306.90       NaN  332343.61         332343.61
4  134401.60      9737.00  182234.59       NaN  326373.19         326373.19
5  118602.00      8601.00  189082.74       NaN  316285.74         316285.74
6   92492.01     89062.90  134426.14       NaN  315981.05         315981.05
7  256576.96         0.00   51322.50       NaN  307899.46         307899.46
8  176932.64     86362.68   40132.23       NaN  303427.55         303427.55
9  285262.00         0.00   17115.73       NaN  302377.73         302377.73

   Year  Notes         Agency  Status
0  2011    NaN  San Francisco     NaN
1  2011    NaN  San Francisco     NaN
2  2011    NaN  San Francisco     NaN
3  2011    NaN  San Francisco     NaN
4  2011    NaN  San Francisco     NaN
5  2011    NaN  San Francisco     NaN
6  2011    NaN  San Francisco     NaN
7  2011    NaN  San Francisco     NaN
8  2011    NaN  San Francisco     NaN
9  2011    NaN  San Francisco     NaN

In [131]:

print(data.tail(10))

            Id      EmployeeName                      JobTitle  BasePay  \
148644  148645      Randy D Winn  Stationary Eng, Sewage Plant      0.0
148645  148646  Carolyn A Wilson     Human Services Technician      0.0
148646  148647      Not provided                  Not provided      NaN
148647  148648    Joann Anderson   Communications Dispatcher 2      0.0
148648  148649       Leon Walker                     Custodian      0.0
148649  148650     Roy I Tillery                     Custodian      0.0
148650  148651      Not provided                  Not provided      NaN
148651  148652      Not provided                  Not provided      NaN
148652  148653      Not provided                  Not provided      NaN
148653  148654         Joe Lopez    Counselor, Log Cabin Ranch      0.0

        OvertimePay  OtherPay  Benefits  TotalPay  TotalPayBenefits  Year  \
148644          0.0      0.00       0.0      0.00              0.00  2014
148645          0.0      0.00       0.0      0.00              0.00  2014
148646          NaN       NaN       NaN      0.00              0.00  2014
148647          0.0      0.00       0.0      0.00              0.00  2014
148648          0.0      0.00       0.0      0.00              0.00  2014
148649          0.0      0.00       0.0      0.00              0.00  2014
148650          NaN       NaN       NaN      0.00              0.00  2014
148651          NaN       NaN       NaN      0.00              0.00  2014
148652          NaN       NaN       NaN      0.00              0.00  2014
148653          0.0   -618.13       0.0   -618.13           -618.13  2014

        Notes         Agency  Status
148644    NaN  San Francisco     NaN
148645    NaN  San Francisco     NaN
148646    NaN  San Francisco     NaN
148647    NaN  San Francisco     NaN
148648    NaN  San Francisco     NaN
148649    NaN  San Francisco     NaN
148650    NaN  San Francisco     NaN
148651    NaN  San Francisco     NaN
148652    NaN  San Francisco     NaN
148653    NaN  San Francisco     NaN

In [133]:
data.shape

(148654, 13)

In [135]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

In [137]:
data.isnull()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,False,False,False,False,False,False,True,False,False,False,True,False,True
1,False,False,False,False,False,False,True,False,False,False,True,False,True
2,False,False,False,False,False,False,True,False,False,False,True,False,True
3,False,False,False,False,False,False,True,False,False,False,True,False,True
4,False,False,False,False,False,False,True,False,False,False,True,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,False,False,False,False,False,False,False,False,False,False,True,False,True
148650,False,False,False,True,True,True,True,False,False,False,True,False,True
148651,False,False,False,True,True,True,True,False,False,False,True,False,True
148652,False,False,False,True,True,True,True,False,False,False,True,False,True
148653,False,False,False,False,False,False,False,False,False,False,True,False,True

In [139]:
columns_to_drop=['Id','Notes','Agency','Status']
data=data.drop(columns=columns_to_drop, errors='ignore')
print("DATA AFTER DROPPING SPECIFIED COLUMNS:\n")
print(data.head())

DATA AFTER DROPPING SPECIFIED COLUMNS:

        EmployeeName                                        JobTitle  \
0     NATHANIEL FORD  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1       GARY JIMENEZ                 CAPTAIN III (POLICE DEPARTMENT)
2     ALBERT PARDINI                 CAPTAIN III (POLICE DEPARTMENT)
3  CHRISTOPHER CHONG            WIRE ROPE CABLE MAINTENANCE MECHANIC
4    PATRICK GARDNER    DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)

     BasePay  OvertimePay   OtherPay  Benefits   TotalPay  TotalPayBenefits  \
0  167411.18         0.00  400184.25       NaN  567595.43         567595.43
1  155966.02    245131.88  137811.38       NaN  538909.28         538909.28
2  212739.13    106088.18   16452.60       NaN  335279.91         335279.91
3   77916.00     56120.71  198306.90       NaN  332343.61         332343.61
4  134401.60      9737.00  182234.59       NaN  326373.19         326373.19

   Year
0  2011
1  2011
2  2011
3  2011
4  2011

In [141]:
print(data.describe())

             BasePay    OvertimePay       OtherPay       Benefits  \
count  148045.000000  148650.000000  148650.000000  112491.000000
mean    66325.448840    5066.059886    3648.767297   25007.893151
std     42764.635495   11454.380559    8056.601866   15402.215858
min      -166.010000      -0.010000   -7058.590000     -33.890000
25%     33588.200000       0.000000       0.000000   11535.395000
50%     65007.450000       0.000000     811.270000   28628.620000
75%     94691.050000    4658.175000    4236.065000   35566.855000
max    319275.010000  245131.880000  400184.250000   96570.660000

            TotalPay  TotalPayBenefits           Year
count  148654.000000     148654.000000  148654.000000
mean    74768.321972      93692.554811    2012.522643
std     50517.005274      62793.533483       1.117538
min      -618.130000       -618.130000    2011.000000
25%     36168.995000      44065.650000    2012.000000
50%     71426.610000      92404.090000    2013.000000
75%    105839.135000     132876.450000    2014.000000
max    567595.430000     567595.430000    2014.000000

In [143]:
print("TOP 5 NAMES OF MOST COMMON EMPLOYEE NAME:\n")
print(data['EmployeeName'].value_counts().head(10))

TOP 5 NAMES OF MOST COMMON EMPLOYEE NAME:

EmployeeName
Kevin Lee       13
Richard Lee     11
Steven Lee      11
William Wong    11
Stanley Lee      9
KEVIN LEE        9
Michael Wong     9
John Chan        9
Victor Lee       8
DAVID WONG       8
Name: count, dtype: int64

In [145]:
print("UNIQUE JOB TITLES:\n")
print(data['JobTitle'].nunique())

UNIQUE JOB TITLES:

2159

In [147]:
print("NUMBER OF JOB TITLES THAT CONTAIN 'CAPTAIN'\n")
print(data['JobTitle'].str.contains('captain',case=False,na=False).sum())

NUMBER OF JOB TITLES THAT CONTAIN 'CAPTAIN'

552

In [149]:
print("EMPLOYEE NAMES FROM FIRE DEPARTMENT")
print(data[data['JobTitle'].str.contains('Fire',case=False,na=False)]['EmployeeName'])

EMPLOYEE NAMES FROM FIRE DEPARTMENT
4            PATRICK GARDNER
6                  ALSON LEE
8             MICHAEL MORRIS
9         JOANNE HAYES-WHITE
10             ARTHUR KENNEY
                 ...
145956      Kenneth C Farris
147556         Edward A Dunn
148021        Kari A Johnson
148209          Sheryl K Lee
148554       Lawrence F Gatt
Name: EmployeeName, Length: 5879, dtype: object

In [151]:
print("MIN,MAX AND AVG OF BASE PAY:")
print("\nMINIMUM BASE PAY:", data['BasePay'].min())
print("\nMAXIMUM BASE PAY:", data['BasePay'].max())
print("\nAVERAGE BASE PAY:", data['BasePay'].mean())

MIN,MAX AND AVG OF BASE PAY:

MINIMUM BASE PAY: -166.01

MAXIMUM BASE PAY: 319275.01

AVERAGE BASE PAY: 66325.4488404877

In [157]:
data['EmployeeName'] = data['EmployeeName'].replace('Not Provided', np.nan, inplace=True)
print(data)

       EmployeeName                                        JobTitle  \
0              None  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1              None                 CAPTAIN III (POLICE DEPARTMENT)
2              None                 CAPTAIN III (POLICE DEPARTMENT)
3              None            WIRE ROPE CABLE MAINTENANCE MECHANIC
4              None    DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)
...             ...                                             ...
148649         None                                       Custodian
148650         None                                    Not provided
148651         None                                    Not provided
148652         None                                    Not provided
148653         None                      Counselor, Log Cabin Ranch

          BasePay  OvertimePay   OtherPay  Benefits   TotalPay  \
0       167411.18         0.00  400184.25       NaN  567595.43
1       155966.02    245131.88  137811.38       NaN  538909.28
2       212739.13    106088.18   16452.60       NaN  335279.91
3        77916.00     56120.71  198306.90       NaN  332343.61
4       134401.60      9737.00  182234.59       NaN  326373.19
...           ...          ...        ...       ...        ...
148649       0.00         0.00       0.00       0.0       0.00
148650        NaN          NaN        NaN       NaN       0.00
148651        NaN          NaN        NaN       NaN       0.00
148652        NaN          NaN        NaN       NaN       0.00
148653       0.00         0.00    -618.13       0.0    -618.13

        TotalPayBenefits  Year
0              567595.43  2011
1              538909.28  2011
2              335279.91  2011
3              332343.61  2011
4              326373.19  2011
...                  ...   ...
148649              0.00  2014
148650              0.00  2014
148651              0.00  2014
148652              0.00  2014
148653           -618.13  2014

[148654 rows x 9 columns]

C:\Users\hp_la\AppData\Local\Temp\ipykernel_13172\1722929910.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['EmployeeName'] = data['EmployeeName'].replace('Not Provided', np.nan, inplace=True)

In [161]:
print("AFTER DROPPING MISSING VALUES\n") 
data.dropna(thresh=len(data.columns)-4)

AFTER DROPPING MISSING VALUES

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
0,None,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011
1,None,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011
2,None,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011
3,None,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011
4,None,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011
...,...,...,...,...,...,...,...,...,...
148645,None,Human Services Technician,0.00,0.00,0.00,0.0,0.00,0.00,2014
148647,None,Communications Dispatcher 2,0.00,0.00,0.00,0.0,0.00,0.00,2014
148648,None,Custodian,0.00,0.00,0.00,0.0,0.00,0.00,2014
148649,None,Custodian,0.00,0.00,0.00,0.0,0.00,0.00,2014
148653,None,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.0,-618.13,-618.13,2014

In [163]:
print("JOB TITLE OF ALBERT PARDINI:")
print(data[data['EmployeeName'] == 'ALBERT PALDINI']['JobTitle'])

JOB TITLE OF ALBERT PARDINI:
Series([], Name: JobTitle, dtype: object)

In [167]:
print("TOTAL PAY BENEFIT OF ALBERT PALDINI:")
print(data[data['EmployeeName']=='ALBERT PALDINI']['TotalPayBenefits'])

TOTAL PAY BENEFIT OF ALBERT PALDINI:
Series([], Name: TotalPayBenefits, dtype: float64)

In [175]:
highest_basepay=data[data['BasePay']==data['BasePay'].max()]
print("NAME OF PERSON WITH HIGHEST BASEPAY:")
print(highest_basepay['EmployeeName'])

NAME OF PERSON WITH HIGHEST BASEPAY:
72925    None
Name: EmployeeName, dtype: object

In [179]:
print("AVG PAY PER YEAR:")
print(data.groupby('Year')['BasePay'].mean())

AVG PAY PER YEAR:
Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

In [183]:
print("AVG BASE PAY PER JOB TITLE\n")
print(data.groupby('JobTitle')['BasePay'].mean())

AVG BASE PAY PER JOB TITLE

JobTitle
ACCOUNT CLERK                                     43300.806506
ACCOUNTANT                                        46643.172000
ACCOUNTANT INTERN                                 28732.663958
ACPO,JuvP, Juv Prob (SFERS)                       62290.780000
ACUPUNCTURIST                                     66374.400000
                                                      ...
X-RAY LABORATORY AIDE                             47664.773077
X-Ray Laboratory Aide                             46086.387100
YOUTH COMMISSION ADVISOR, BOARD OF SUPERVISORS    52609.910000
Youth Comm Advisor                                39077.957500
ZOO CURATOR                                       43148.000000
Name: BasePay, Length: 2159, dtype: float64

In [191]:
print("AVG BASE PAY EMPLOYEE HAVING JOB TITLE ACCOUNTANT\n")
print(data[data['JobTitle']=='ACCOUNTANT']['BasePay'].mean())

AVG BASE PAY EMPLOYEE HAVING JOB TITLE ACCOUNTANT

46643.172

In [199]:
print("TOP 5 MOST COMMON JOBS\n")
print(data['JobTitles'].value_counts().head(5))

TOP 5 MOST COMMON JOBS

KeyError: 'JobTitles'